* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
}

form {
  padding: 1rem;
}

.header {
  padding: 1rem;
  text-align: center;
}
.header-title {
  background: #393f39;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 1.1rem 2rem;
  font-size: 1.5rem;
  letter-spacing: 2 px;
  margin-bottom: 1.1rem;
}

.header h2 {
  margin-bottom: 0.5rem;
}

.intro {
  color: #a5a5a5;
}

hr {
  background: #393f39;

  width: 95%;
  margin: 0 auto;
}

.thick-hr {
  height: 6px;
  margin-bottom: 2px;
}

.thin-hr {
  height: 3px;
}

fieldset {
  border: none;
}

.legend {
  font-weight: bold;
  margin-bottom: 1.1rem;
  font-size: 1.2rem;
}

input[placeholder] {
  text-align: right;
  font-style: italic;
}

.contact-info > input,
#state {
  background: #eee;
  display: block;
  padding: 0.8rem;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
