* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
}

.header {
  margin: 1rem 1rem;
  text-align: center;
}
.header-title {
  background: #333;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 1.1rem 2rem;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.intro {
  color: #a5a5a5;
}
